doctype html
html(lang="ko")
  include partials/header.pug
  body 
    header  
      h1=pageTitle
      nav 
        ul  
          li
            a(href="/") Home
          li  
            a(href="/upload") Upload Movie
          li
            a(href="/search") Search
    main
      block content
  include partials/footer.pug