extends ../base

block content
    form(method="POST")
        input(placeholder="Old Password")
        input(placeholder="New Password")
        input(placeholder="New Password Validation")
        input(value = "Change Password",type="submit")